<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="http://media.dreamplango.com/resources/dpg/760x520/2039af69-737a-44be-80ea-f22a4d5c29ee.jpg"
               class="img-responsive center-block"
               style="max-height:500px;padding-bottom:50px" />
        </div>

        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Ganga Angular</h3>
        </div>

        <div class="text-center">@ganga-angular</div>
      </div>
    </div>
  </div>
